!!!
/
  Overflow by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %title Overflow by HTML5 UP
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    /[if lte IE 8] <script src="css/ie/html5shiv.js"></script>
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/jquery.scrolly.min.js"}
    %script{:src => "js/jquery.poptrox.min.js"}
    %script{:src => "js/skel.min.js"}
    %script{:src => "js/init.js"}
    %noscript
      %link{:href => "css/skel.css", :rel => "stylesheet"}/
      %link{:href => "css/style.css", :rel => "stylesheet"}/
    /[if lte IE 8] <link rel="stylesheet" href="css/ie/v8.css" />
  %body
    / Header
    %section#header
      %header
        %h1 Overflow
        %p By HTML5 UP
      %footer
        %a.button.style2.scrolly.scrolly-centered{:href => "#banner"} Proceed as anticipated
    / Banner
    %section#banner
      %header
        %h2 This is Overflow
      %p
        A brand new site template designed by
        %a{:href => "http://n33.co"} AJ
        for
        = succeed "." do
          %a{:href => "http://html5up.net"} HTML5 UP
        %br/
        It’s fully responsive, built on
        = succeed "," do
          %strong skel
        and of course entirely free
        %br/
        under the
        = succeed "." do
          %a{:href => "http://html5up.net/license"} Creative Commons license
      %footer
        %a.button.style2.scrolly{:href => "#first"} Act on this message
    / Feature 1
    %article#first.container.box.style1.right
      %a.image.fit{:href => "#"}
        %img{:alt => "", :src => "images/pic01.jpg"}/
      .inner
        %header
          %h2
            Lorem ipsum
            %br/
            dolor sit amet
        %p Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.
    / Feature 2
    %article.container.box.style1.left
      %a.image.fit{:href => "#"}
        %img{:alt => "", :src => "images/pic02.jpg"}/
      .inner
        %header
          %h2
            Mollis posuere
            %br/
            lectus lacus
        %p Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.
    / Portfolio
    %article.container.box.style2
      %header
        %h2 Magnis parturient
        %p
          Justo phasellus et aenean dignissim
          %br/
          placerat cubilia purus lectus.
      .inner.gallery
        .row.flush
          .3u
            %a.image.fit{:href => "images/fulls/01.jpg"}
              %img{:alt => "", :src => "images/thumbs/01.jpg", :title => "Ad infinitum"}/
          .3u
            %a.image.fit{:href => "images/fulls/02.jpg"}
              %img{:alt => "", :src => "images/thumbs/02.jpg", :title => "Dressed in Clarity"}/
          .3u
            %a.image.fit{:href => "images/fulls/03.jpg"}
              %img{:alt => "", :src => "images/thumbs/03.jpg", :title => "Raven"}/
          .3u
            %a.image.fit{:href => "images/fulls/04.jpg"}
              %img{:alt => "", :src => "images/thumbs/04.jpg", :title => "I'll have a cup of Disneyland, please"}/
        .row.flush
          .3u
            %a.image.fit{:href => "images/fulls/05.jpg"}
              %img{:alt => "", :src => "images/thumbs/05.jpg", :title => "Cherish"}/
          .3u
            %a.image.fit{:href => "images/fulls/06.jpg"}
              %img{:alt => "", :src => "images/thumbs/06.jpg", :title => "Different."}/
          .3u
            %a.image.fit{:href => "images/fulls/07.jpg"}
              %img{:alt => "", :src => "images/thumbs/07.jpg", :title => "History was made here"}/
          .3u
            %a.image.fit{:href => "images/fulls/08.jpg"}
              %img{:alt => "", :src => "images/thumbs/08.jpg", :title => "People come and go and walk away"}/
    / Contact
    %article.container.box.style3
      %header
        %h2 Nisl sed ultricies
        %p Diam dignissim lectus eu ornare volutpat orci.
      %form{:action => "#", :method => "post"}
        .row.half
          .6u
            %input.text{:name => "name", :placeholder => "Name", :type => "text"}/
          .6u
            %input.text{:name => "email", :placeholder => "Email", :type => "text"}/
        .row.half
          .12u
            %textarea{:name => "message", :placeholder => "Message"}
        .row
          .12u
            %ul.actions
              %li
                %input{:type => "submit", :value => "Send Message"}/
    / Generic
    /
      <article class="container box style3">
      <header>
      <h2>Generic Box</h2>
      <p>Just a generic box. Nothing to see here.</p>
      </header>
      <section>
      <header>
      <h3>Paragraph</h3>
      <p>This is a subtitle</p>
      </header>
      <p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
      habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
      leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
      amet risus elit.</p>
      </section>
      <section>
      <header>
      <h3>Blockquote</h3>
      </header>
      <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
      tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
      </section>
      <section>
      <header>
      <h3>Divider</h3>
      </header>
      <p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
      ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
      facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
      tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia.</p>
      <hr />
      <p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
      ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
      facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
      tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia.</p>
      </section>
      <section>
      <header>
      <h3>Unordered List</h3>
      </header>
      <ul class="default">
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      </ul>
      </section>
      <section>
      <header>
      <h3>Ordered List</h3>
      </header>
      <ol class="default">
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      </ol>
      </section>
      <section>
      <header>
      <h3>Table</h3>
      </header>
      <div class="table-wrapper">
      <table class="default">
      <thead>
      <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>45815</td>
      <td>Something</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>29.99</td>
      </tr>
      <tr>
      <td>24524</td>
      <td>Nothing</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>19.99</td>
      </tr>
      <tr>
      <td>45815</td>
      <td>Something</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>29.99</td>
      </tr>
      <tr>
      <td>24524</td>
      <td>Nothing</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>19.99</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
      <td colspan="3"></td>
      <td>100.00</td>
      </tr>
      </tfoot>
      </table>
      </div>
      </section>
      <section>
      <header>
      <h3>Form</h3>
      </header>
      <form method="post" action="#">
      <div class="row">
      <div class="6u">
      <input class="text" type="text" name="name" id="name" value="" placeholder="John Doe" />
      </div>
      <div class="6u">
      <input class="text" type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <select name="department" id="department">
      <option value="">Choose a department</option>
      <option value="1">Manufacturing</option>
      <option value="2">Administration</option>
      <option value="3">Support</option>
      </select>
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <input class="text" type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <textarea name="message" id="message" placeholder="Enter your message"></textarea>
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <ul class="actions">
      <li><input type="submit" value="Submit" /></li>
      <li><input type="reset" class="style3" value="Clear Form" /></li>
      </ul>
      </div>
      </div>
      </form>
      </section>
      </article>
    %section#footer
      %ul.icons
        %li
          %a.icon.fa-twitter{:href => "#"}
            %span.label Twitter
        %li
          %a.icon.fa-facebook{:href => "#"}
            %span.label Facebook
        %li
          %a.icon.fa-google-plus{:href => "#"}
            %span.label Google+
        %li
          %a.icon.fa-pinterest{:href => "#"}
            %span.label Pinterest
        %li
          %a.icon.fa-dribbble{:href => "#"}
            %span.label Dribbble
        %li
          %a.icon.fa-linkedin{:href => "#"}
            %span.label LinkedIn
      .copyright
        %ul.menu
          %li &copy; Untitled. All rights reserved.
          %li
            Design:
            %a{:href => "http://html5up.net"} HTML5 UP
